################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/**
**/.ipynb_checkpoints
**/.suo
env/
bin/
**/~*
PdfExtractor/PdfExtractor/.vs/PdfExtractor/v15/.suo
